<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Tic-Tac-Toe</title>
</head>
<body>
    <div id="center-container">
        <h1>Tic Tac Toe</h1>
        <div id="board">
            {% for i in range(9) %}
                <div class="cell" data-position="{{ i }}" onclick="makeMove(this)">{{ board[i] }}</div>
            {% endfor %}
        </div>
        <h2 id="current_player">Current Player: {{ current_player }}</h2>
        <h2 id="result"></h2>
        <button id="restart-button" onclick="restartGame()">Restart Game</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
